PUBLIC_ENVIRONMENT="development"
PUBLIC_BASE_API_URL="http://localhost:3000"
PUBLIC_GITHUB_CLIENT_ID=""
PUBLIC_GITHUB_REDIRECT_URI=""
PUBLIC_DISCOVERY_ENABLED=true
PUBLIC_MULTI_ORG_ENABLED=true
PUBLIC_DOG_STATS_D_HOST": "localhost"
PUBLIC_DOG_STATS_D_PORT": 8227
